---
import type { MarkdownInstance } from "astro";
import ContentSection from "../components/ContentSection.astro";
import LineItem from "../components/LineItem.astro";
import PageHeading from "../components/PageHeading.astro";
import ReadingHeader from "../components/ReadingHeader.astro";
import Layout from "../layouts/Layout.astro";

interface Book {
	status: string;
	page: string;
	description: string;
	title: string;
	thumbnail: string;
	thumbnail_dark: string;
	heroImage: string;
	heroImage_dark: string;
	info: string;
}

const books = Object.values(
	import.meta.glob<MarkdownInstance<Book>>("./reading/*.md", { eager: true }),
);
---

<style is:global>
@reference "../styles/global.css";
</style>

<Layout>
	<PageHeading>Reading</PageHeading>
	<ContentSection>
		<p>
			While I believe practical experience is the best for making concepts
			stick, I've found that programming books can be very valuable for exposing
			you to new concepts. I've shared a few below that I've found very
			enjoyable, and listed some that I plan to read in the near-future.
		</p>
		<ReadingHeader>Completed</ReadingHeader>
		<ul class="w-full flex flex-col gap-2 cursor-pointer">
			{books.filter(book => book.frontmatter.status === "read").map((book) => {
				return (
				<LineItem title={book.frontmatter.title} description={book.frontmatter.description} page={book.frontmatter.page} prefix="reading" />
			)
			})}
		</ul>
		<ReadingHeader>In Progress</ReadingHeader>
		<ul class="w-full flex flex-col gap-2 cursor-pointer">
			{books.filter(book => book.frontmatter.status === "in-progress").map((book) => {
				return (
				<LineItem title={book.frontmatter.title} description={book.frontmatter.description} page={book.frontmatter.page} prefix="reading" />
			)
			})}
		</ul>
		<ReadingHeader>Up Next</ReadingHeader>
		<ul class="w-full flex flex-col gap-2 cursor-pointer">
			{books.filter(book => book.frontmatter.status === "unread").map((book) => {
				return (
				<LineItem title={book.frontmatter.title} description={book.frontmatter.description} page={book.frontmatter.page} prefix="reading" />
			)
			})}
		</ul>
	</ContentSection>
</Layout>
