---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout>
	<article>
		<section class="flex justify-center">
			<a href={frontmatter.info} target="_blank">
				<div class="dark:hidden">
					<img
						src={frontmatter.heroImage}
						alt="image"
						class="hidden sm:block h-28 w-96"
					>
					<img
						src={frontmatter.thumbnail}
						alt="image"
						class="block sm:hidden h-28 w-96"
					>
				</div>
				<div class="hidden dark:block">
					<img
						src={frontmatter.heroImage_dark}
						alt="image"
						class="hidden sm:block h-28 w-96"
					>
					<img
						src={frontmatter.thumbnail_dark}
						alt="image"
						class="block sm:hidden h-28 w-96"
					>
				</div>
			</a>
		</section>
		<h1>{frontmatter.title}</h1>
		<p>{frontmatter.description}</p>
	</article>
</Layout>
