---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout>
	<article>
		<section class="flex justify-center">
			<a href={frontmatter.info} target="_blank">
				<img
					src={frontmatter.heroImage}
					alt="image"
					class="h-24 w-96 dark:hidden block"
				>
				<img
					src={frontmatter.heroImage_dark}
					alt="image"
					class="h-24 w-96 dark:block hidden"
				>
			</a>
		</section>
		<h1>{frontmatter.title}</h1>
		<p>{frontmatter.description}</p>
	</article>
</Layout>
